.crust, .size, .toppings {
  background-color: #BFAFDD;
}

.selectbutton {
  background: linear-gradient(#67E7E1, #BFAFDD);
  padding: 5px;
  width: auto;
}
body {
  background: linear-gradient(#67E7E1, #BFAFDD);
  background-size: 100%;
  color: white;
  height: 1500px;
  background-repeat: no-repeat;
}
input {
  margin-left: 3%;
}
select {
  color: black;
}

#orderBoard {
  float: right;
  display: none;
}

.show-order {
  display: none;
}
