.crust, .size, .toppings, .address, .form-group, .form-row{
  background-color: #BFAFDD;
}

.selectbutton {
  background: linear-gradient(#67E7E1, #BFAFDD);
  padding: 5px;
  width: auto;
}
body {
  background: linear-gradient(#67E7E1, #BFAFDD);
  background-size: 100%;
  color: white;
  height: 1500px;
  background-repeat: no-repeat;
}
input {
  margin-left: 3%;
}
select {
  color: black;
}

img {
  border-radius: 50%;
}
#orderBoard {
  display: none;
  background: linear-gradient(#67E7E1, #BFAFDD);
}

#inputAddress {
  width: 95%;
}
#delivery {
  margin-bottom: 0px;
}
.show-order {
  /*display: none;*/
}
