.crust, .size, .toppings {
  background-color: #92D075;
}

body {
  background: linear-gradient(#67E7E1, #92D075);
  background-size: 100%;
  color: white;
  height: 1500px;
  background-repeat: no-repeat;
}
input {
  margin-left: 3%;
}
select {
  color: black;
}

#orderBoard {
  float: right;
}

.selectbutton {
  background-color: #DD9B44;
  padding: 5px;
  width: auto;
}
